.friends__item {
  border: 2px solid #000;
  border-radius: 5px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.friends__name {
  font-weight: 600;
}

.friends__online {
  color: green;
}

.friends__offline {
  color: red;
}
